body, div, header, section, article, footer, h1, h2, nav, ul, li, p, a, figure, figcaption, img {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/*Temporal border to outline the elements*/
section, article, aside {
    border: 1px solid black;
}

body {
    background: url('../Images/body-background.jpg') repeat-y center top;
    background-size: cover;
}

#wrapper {
    margin: 0 auto;
    width: 93%;
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 62.5%;
    background-color: rgba(240, 240, 240, 0.4);
    /*border: 2px solid black;*/
}

#wrapper > header {
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid black;
}

    #wrapper > header h1, #wrapper > header figure figcaption {
        display: none;
    }

    #wrapper > header  img {
        display: block;
        width: 100%;
    }

    #wrapper > header figure {
        position: absolute;
        top: 0;
        left: 10%;
        display: inline-block;
        width: 20%;
    }

        #wrapper > header figure img {
            display: block;
            width: 100%;
        }

nav ul.main-menu > li {
    position: relative;
    display: inline-block;
    font-size: 2.1em;
    border-radius: 10px;
}
    .main-menu > li a {
        display: block;
        padding: 5px 20px;
        color: #000;
    }

    .main-menu > li:hover {
        background-color: rgba(240, 240, 240, 0.7);
    }

        .drop-down {
            background: url('../Images/DownArrow.png') no-repeat 96% 60%;
        }

        .inner-menu {
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            width: 250px;
            font-size: 1rem;
            background-color: #234465;
            border-radius: 10px;
        }

            .inner-menu li {
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            }
                
                .inner-menu li a {
                    display: block;
                    padding: 10px 0 10px 20px;
                    color: #ccaa00
                }    

                .inner-menu li:last-child {
                    border: none;
                }

            .main-menu > li:hover .inner-menu {
                display: block;
            }

#wrapper > footer {
    padding: 5px 20px;
    width: 100%;
    font-size: 2em;
    border-top: 1px solid black;
}