section {
    margin: 0 auto 5%;
    width: 90%;
    height:80%;
}

	section article {
		padding: 2%;
	}

        article header {
            margin-bottom: 2%;
            overflow: hidden;
        }

            article header h2 {
                display: inline-block;
                margin-top: 6%;
                width: 70%;
                font-size: 2.9em;
                text-align: center;
            }

            article header .article-logo {
                display: inline-block;
                float: left;
                margin-right: 2%;
                width: 20%;
            }

                article .trainer figure {
                    width: 25%;
                }

                article .trainer h2 {
                    width: 70%;
                }

                .article-logo figcaption {
                    display: none;
                }

                .article-logo > img {
                    display: block;
                    width: 100%;
                }

        article p {
            padding: 1%;
            text-indent: 2em;
            font-size: 1.7em;
        }

		article footer {
			margin-top: 2%;
			text-align:right;
		}

			article footer a {
				display:inline-block;
                padding: 0.7% 1.5%;
				font-size: 1.6em;
				text-align:center;
                color: #000;
                background-color: rgba(200, 200, 200, 0.6);
                border: 1px solid white;
                border-radius: 5px;
			}