section {
    margin: 0 auto 5%;
    width: 90%;
    height:80%;
}

	section article {
        margin: 1% auto;
		padding: 2%;
        border: 1px solid black;
        border-radius: 10px;
        background-color: rgba(240, 240, 240, 0.4);

	}

        article header {
            margin-bottom: 3%;
            overflow: hidden;
        }

            article header h2 {
                display: inline-block;
                margin-top: 6%;
                width: 70%;
                font-size: 2.8em;
                text-align: center;

            }

            article header h3 {
                font-size: 2.5em;
                text-align: center;
            }

            article header .article-logo {
                display: inline-block;
                float: left;
                margin-right: 2%;
                width: 20%;
            }

                article header .second {
                    float: right;
                }

                .center-header {
                    width: 55%;
                }

                article .trainer figure {
                    width: 25%;
                }

                article .trainer h2 {
                    width: 70%;
                }

                .article-logo figcaption {
                    display: none;
                }

                .article-logo img {
                    display: block;
                    width: 100%;
                }
            
        article p {
            padding: 1%;
            text-indent: 2em;
            font-size: 1.7em;
        }

        article > ul li {
            margin-left: 2%;
            font-size: 1.7em;
        }

            article > ul li:before {
                content: '-';
                font-weight: bold;
            }

            .salary {
                color: #ffbb00;
                font-size: 1.2em;
                font-weight: bold;
                text-shadow: 1px 1px 1px#000 ;
            }

		article footer {
			margin-top: 2%;
			text-align:right;
		}

			article footer a {
				display:inline-block;
                padding: 0.7% 1.5%;
				font-size: 1.6em;
				text-align:center;
                color: #000;
                background-color: rgba(150, 150, 150, 1);
                border: 1px solid white;
                border-radius: 5px;
			}

                article footer a:hover {
                    background-color: #fff;
                }
/*@media screen and (max-width: 800px) {
    section article header .article-logo {
        width: 45%;
    }

    section article header h2, .center-header {
        display: block;
        width: 100%;
        clear: both;
        border: 1px solid white;
    }
}*/