section {
    float: left;
    margin: 0 0 50px 10px;
    width: 60%;
    font-size: 1.6em;
}

aside {
    float: left;
    margin: 0 0 50px 20px;
    width: 35%;
}

#wrapper > footer {
    clear: both;
}